@import './reset.css';

/* General */

.container {
    padding-top: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.bayan-item {
    position: relative;
    margin-bottom: 10px;
}

.bayan-item__input {
    display: none;
    visibility: hidden;
    opacity: 0;
}

/* Header */

.bayan-item__trigger {
    display: block;
    padding: 20px;
    border: 1px solid black;
}

.bayan-item__trigger-cont {
    display: flex;
    justify-content: space-between;
}

.trigger-name {
    font-size: 16px;
}

.trigger-icon {
    font-weight: 700;
    visibility: hidden;

    transition: all 0.3s ease-in;
}

/* Meme-cont */

.bayan-item__content {
    padding: 20px;
    border: 1px solid black;
    
    border-top: none;
    display: none;
}

.bayan-item__content-cont {
    display: flex;  
    width: 100%; 
}

.bayan-item__content-img {
    height: 250px;
    object-fit: cover;

    margin: 0 auto;
}

/* logics */

.bayan-item__input:checked ~ .bayan-item__trigger {
    background-color: #eee;
}

.bayan-item__input:checked ~ .bayan-item__content {
    display: block;
    margin: 0 auto;
}
