@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,900;1,900&display=swap");

/* General */

html {
  font-family: "Roboto", sans-serif;
  background-color: #D7C9AA;
}

.container {
  padding-top: 1.3em;
  max-width: 50em;
  margin: 0 auto;
}

.bayan-item {
  position: relative;
  padding-bottom: 0.6em;
}

.bayan-item__input {
  display: none;
  visibility: hidden;
  opacity: 0;
}

/* Header */

.bayan-item__trigger {
  display: block;
  padding: 1.3em;
  border: 0.06em solid black;
}

.bayan-item__trigger-cont {
  display: flex;
  justify-content: space-between;
  color: #0B7A75;

  font-size: 2em;
  font-weight: 900;
}

.trigger-name {
  transition: all 0.3s ease-in;
}

.trigger-icon {
  font-weight: 900;
  visibility: hidden;

  transition: all 0.3s ease-in;
}

/* Meme-cont */

.bayan-item__content {
  padding: 1.3em;
  border: 0.06em solid black;
  border-top: none;

  display: none;
  opacity: 0;

  animation: fadein 0.4s ease-in;
}

.bayan-item__content-cont {
  display: flex;
  width: 100%;
}

.bayan-item__content-img {
  height: 20em;
  object-fit: cover;

  margin: 0 auto;
}

/* logics */

/* Meme animation */

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* hover 
    1) Shows icons
    2) Change text color
    3) Shows meme
    4) Change rotation for hovered section icon
*/

.bayan:hover p.trigger-icon {
  visibility: visible;
}

.bayan:hover p.trigger-name {
  color: #7B2D26;
}

.bayan-item:hover .bayan-item__content {
  display: block;
  margin: 0 auto;
  opacity: 1;
}

.bayan-item:hover p.trigger-icon {
  transform: rotate(45deg);
}

/* Selected 
    1) Show meme
    2) Change icon rotation    
*/

.bayan-item__input:checked ~ label p.trigger-icon {
  transform: rotate(45deg);
}

.bayan-item__input:checked ~ .bayan-item__content {
  display: block;
  margin: 0 auto;
  opacity: 1;
}

/* Main logics
    1) Checked
*/

.bayan-item__input:checked ~ label p.trigger-name {
  color: #7B2D26;
}

.bayan-item__input:checked ~ .bayan-item__content {
  display: block;
  margin: 0 auto;
}
